body{
    padding-left: 20px;
    padding-right: 20px;
}

img{
    display: block;
    margin-top: 15px;
    width: 300px;
}

.breed-select{
    display: flex;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.loader,
.error{
    
    text-align: center;
    display: none;
}

.error{
    color: red;
    font-size: 20px;
    font-weight: 600;
}

.cat-info{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.cat-container{
    max-width: 500px;
}

// Loader 

.loader-new {
    display: none;
    width: 48px;
    height: 48px;
    margin: auto;
    position: relative;
  }
  .loader-new:before {
      content: '';
      width: 48px;
      height: 5px;
      background: #000;
      opacity: 0.25;
      position: absolute;
      top: 60px;
      left: 0;
      border-radius: 50%;
      animation: shadow 0.5s linear infinite;
    }
    .loader-new:after {
      content: '';
      width: 100%;
      height: 100%;
      background: #000;
      animation: bxSpin 0.5s linear infinite;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 4px;
    }
  @keyframes bxSpin {
    17% {
      border-bottom-right-radius: 3px;
    }
    25% {
      transform: translateY(9px) rotate(22.5deg);
    }
    50% {
      transform: translateY(18px) scale(1, .9) rotate(45deg);
      border-bottom-right-radius: 40px;
    }
    75% {
      transform: translateY(9px) rotate(67.5deg);
    }
    100% {
      transform: translateY(0) rotate(90deg);
    }
  }

  @keyframes shadow {
    0%, 100% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.2, 1);
    }
  }
